@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}


/* Паттерны */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 0;
  font: inherit;
  border: none;
  cursor: pointer;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.title,
.paragraph {
  margin: 0;
}

.field {
  display: block;
  padding: 0;
  font: inherit;
  border: none;
  outline: none;
}


/* Хедер */
.page-header {
  margin-bottom: 54px;
}

.info-header {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding: 14px 0 13px;
}

.page-title {
  width: 521px;
  margin-right: 138px;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
  color: #ee3643;
}

.info-header-address {
  max-width: 282px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
}

.info-phone-header-link {
  position: relative;
  max-width: 175px;
  margin-left: auto;
  margin-right: 5px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #293449;
}

.info-phone-header-link:hover {
  color: rgba(41, 52, 73, 0.5);
}

.info-phone-header-link:active {
  color: rgba(41, 52, 73, 0.3);
}

.info-phone-header-link::before {
  position: absolute;
  left: -24px;
  top: 2px;
  width: 16px;
  height: 16px;
  background: url("../images/icons/header-phone-icon.svg");
  content: "";
}

.middle-header-bg {
  background-color: #293449;
}

.middle-header-content {
  position: relative;
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.page-logo {
  max-height: 45px;
}

.page-logo:hover {
  opacity: 0.7;
}

.page-logo:active {
  opacity: 0.5;
}

.header-form {
  position: relative;
}

.header-field {
  width: 717px;
  height: 100%;
  padding: 10px 53px 11px 53px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: url("../images/icons/search-icon.svg") no-repeat 21px 50% transparent;
  cursor: pointer;
}

.header-field::placeholder {
  color: #ffffff;
}

.header-field:hover {
  outline: 1px solid #63a63e;
  border-radius: 2px;
}

.header-field:focus {
  outline: 1px solid #ffbf47;
  border-radius: 2px;
}

.header-field:invalid {
  outline: 1px solid #ee3643;
  border-radius: 2px;
}

.header-field:invalid:hover {
  outline: 2px solid #ee3643;
  border-radius: 2px;
}

.header-field:disabled {
  background-color: #f1f5f7;
}

.header-field:disabled::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.close-field-btn {
  position: absolute;
  display: none;
  bottom: 17px;
  right: 21px;
  width: 12px;
  height: 12px;
  background-color: transparent;
}

.close-field-btn::after,
.close-field-btn::before {
  position: absolute;
  left: 0;
  top: 5px;
  width: 12px;
  height: 2px;
  background-color: #32425c;
  content: "";
}

.close-field-btn::after {
  transform: rotate(45deg);
}

.close-field-btn::before {
  transform: rotate(-45deg);
}

.close-field-btn:hover {
  opacity: 0.5;
}

.close-field-btn:active {
  opacity: 0.3;
}

.header-field:focus {
  color: #293449;
  background-color: #f1f5f7;
}

.header-field:focus::placeholder {
  color: #c5c5c5;
}

.header-field:focus + .close-field-btn {
  display: block;
}

.login-btn {
  width: 80px;
  margin-left: auto;
  margin-right: 4px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: right;
  color: #f1f5f7;
  background: url("../images/icons/login-icon.svg") no-repeat 0 50% transparent;
}

.login-btn:hover {
  opacity: 0.5;
}

.login-btn:active {
  opacity: 0.3;
}

.login-btn:focus + .login-popover-container,
.login-btn:active + .login-popover-container {
  display: block;
}

/* Поповер логина */
.login-popover-container {
  position: absolute;
  top: 12px;
  right: 0;
  z-index: 1;
  display: none;
  width: 360px;
  padding: 22px 29px 35px 31px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.login-popover-title {
  max-width: 257px;
  margin-bottom: 46px;
  font-size: 24px;
  text-transform: uppercase;
}

.close-login-popover-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  outline: 2px solid #c4c4c4;
  outline-offset: -2px;
  border-radius: 50%;
}

.close-login-popover-btn::after,
.close-login-popover-btn::before {
  position: absolute;
  top: 8px;
  left: 5px;
  width: 9px;
  height: 2px;
  background-color: #c4c4c4;
  content: "";
}

.close-login-popover-btn::after {
  transform: rotate(45deg);
}

.close-login-popover-btn::before {
  transform: rotate(-45deg);
}

.close-login-popover-btn:hover {
  opacity: 0.5;
}

.close-login-popover-btn:active {
  opacity: 0.3;
}

.popover-field {
  width: 100%;
  padding: 8px 9px 7px 14px;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
}

.popover-field:last-of-type {
  margin-bottom: 12px;
}

.popover-field::placeholder {
  color: #c5c5c5;
}

.popover-field:hover {
  border: 1px solid #63a63e;
}

.popover-field:focus {
  border: 1px solid #ffbf47;
}

.popover-field:invalid {
  border: 1px solid #ee3643;
}

.popover-field:invalid:hover {
  border: none;
  outline: 2px solid #ee3643;
}

.popover-field:disabled {
  background-color: #f1f5f7;
}

.profile-popover-wrapper {
  position: relative;
  display: flex;
  gap: 23px;
  margin-bottom: 38px;
  align-items: center;
  padding-left: 31px;
}

.control-mark-popover {
  position: absolute;
  left: 1px;
  bottom: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #3d546f;
  border-radius: 2px;
}

.control-mark-popover:hover {
  opacity: 0.6;
}

.control-mark-popover:disabled {
  opacity: 0.2;
}

.control-popover-input[type="checkbox"]:checked + .control-mark-popover::after {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 9px;
  height: 7px;
  background: url("../images/icons/mark-login-popover-icon.svg") no-repeat;
  content: "";
}

.control-label-popover {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.forgot-link-popover {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.forgot-link-popover:hover {
  opacity: 0.5;
}

.forgot-link-popover:active {
  opacity: 0.3;
}

.btn-popover-wrapper {
  display: flex;
  gap: 5px;
}

.link-popover {
  width: 145px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 2px;
}

.login-link-popover {
  padding-left: 20px;
  color: #ffffff;
  background: url("../images/icons/login-icon.svg") no-repeat 25px 50% #63a63e;
}

.login-link-popover:hover {
  background-color: #5fbb2d;
}

.login-link-popover:active {
  background-color: #518534;
}

.auth-link-popover {
  color: #32425c;
  border: 2px solid #63a63e;
}

.auth-link-popover:hover {
  border: 2px solid #3d546f;
}

.auth-link-popover:active {
  color: #c5c5c5;
  border: 2px solid #c5c5c5;
}

/* Авторизированная страница */
.profile-btn {
  display: none;
  width: 194px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f1f5f7;
  text-align: end;
  background: url("../images/icons/profile-icon.svg") no-repeat 17px 50% transparent;
}

.profile-btn:hover {
  opacity: 0.5;
}

.profile-btn:active {
  opacity: 0.3;
}

.profile-btn:focus + .profile-popover-container,
.profile-btn:active + .profile-popover-container {
  display: block;
}

/* Поповер профиля */
.profile-popover-container {
  position: absolute;
  top: 12px;
  right: 0;
  z-index: 1;
  display: none;
  width: 360px;
  padding: 22px 53px 33px 31px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.profile-popover-title {
  margin-bottom: 33px;
  font-size: 24px;
  text-transform: uppercase;
}

.profile-popover-link {
  max-width: 170px;
  margin-bottom: 23px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #3d546f;
}

.profile-popover-link:hover {
  opacity: 0.5;
}

.profile-popover-link:active {
  opacity: 0.3;
}

.profile-popover-link-unlogin {
  width: 145px;
  padding: 11px 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #32425c;
  border: 2px solid #63a63e;
  border-radius: 2px;
}

.profile-popover-link-unlogin:hover {
  border: 2px solid #3d546f;
}

.profile-popover-link-unlogin:active {
  color: #c5c5c5;
  border: 2px solid #c5c5c5;
}

.unlogin-link {
  display: none;
  width: 16px;
  margin-left: auto;
  margin-right: 4px;
  background: url("../images/icons/unlogin-icon.svg") no-repeat 50% transparent;
}

.unlogin-link:hover {
  opacity: 0.5;
}

.unlogin-link:active {
  opacity: 0.3;
}

.nav-header-bg {
  background-color: #3d546f;
}

.nav-header {
  display: flex;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  gap: 0 51px;
  flex-wrap: wrap;
  width: 817px;
}

.nav-link {
  width: 100%;
  padding: 21px 0 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.nav-item:first .nav-link {
  cursor: default;
}

.nav-link:hover {
  color: #c5c5c5;
  background-color: #32425c;
}

.nav-link:active {
  color: #ffffff;
  background-color: #32425c;
}

.bookmark-link {
  margin: 0 27px 0 95px;
  width: 13px;
  height: 18px;
  background: url("../images/icons/bookmark-icon.svg") no-repeat 50% transparent;
}

.cart-link {
  width: 18px;
  height: 18px;
  background: url("../images/icons/cart-icon.svg") no-repeat 50% transparent;
}

.menu-icon-link:hover,
.menu-icon-link:hover + .menu-count {
  opacity: 0.5;
}

.menu-icon-link:active,
.menu-icon-link:active + .menu-count {
  opacity: 0.3;
}

.order-link {
  width: 170px;
  padding: 12px 0;
  margin-left: auto;
  margin-right: 4px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #63a63e;
  border-radius: 4px;
}

.order-link:hover {
  background-color: #5fbb2d;
}

.order-link:active {
  background-color: #518534;
}

.bookmark-link-count {
  display: none;
  margin: 0 8px 0 39px;
  width: 13px;
  height: 18px;
  background: url("../images/icons/bookmark-icon.svg") no-repeat 50% transparent;
}

.menu-count {
  display: none;
  margin-right: 28px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.cart-link-count {
  display: none;
  margin-right: 6px;
  width: 18px;
  height: 18px;
  background: url("../images/icons/cart-icon.svg") no-repeat 50% transparent;
}


/* Баннеры услуг */
.banners-services {
  width: 1170px;
  margin: 0 auto 50px;
}

.banners-services-list {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(3, 180px);
  gap: 27px 30px;
}

.banners-services-item {
  padding: 20px 0 33px 25px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 2px;
}

.banner-title {
  max-width: 250px;
  margin-bottom: 57px;
  font-size: 24px;
}

.banner-link {
  width: 180px;
  padding: 12px 1px 10px 33px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  background: url("../images/icons/arrow-banner.svg") no-repeat 12px 50% transparent;
  border: 1px solid #ffffff;
}

.banner-link:hover {
  opacity: 0.7;
}

.banner-link:active {
  opacity: 0.5;
}

.banners-services-item-materials {
  position: relative;
  background: url("../images/icons/materials-icon.svg") no-repeat 250px 50% #ffbf47;
}

.banners-services-item-materials::after {
  position: absolute;
  top: 0;
  right: -30px;
  width: 100px;
  height: 67px;
  background: url("../images/icons/new-sticker.png") no-repeat;
  content: "";
}

.banners-services-item-tools {
  background: url("../images/icons/tools-icon.svg") no-repeat 244px 50% #3bbce3;
}

.banners-services-item-technique {
  background: url("../images/icons/technique-icon.svg") no-repeat 243px 50% #dc91d8;
}

.banners-services-item-slider {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
  padding: 0;
  background-color: #7a7675;
}

.slide-1 {
  height: 100%;
  padding: 51px 8px 22px 51px;
  background-image: url("../images/slide-1.jpg");
}

.slide-2 {
  display: none;
  height: 100%;
  padding: 53px 2px 22px 51px;
  background-image: url("../images/slide-2.jpg");
}

.slider-title {
  margin-bottom: 10px;
  font-family: "Fira sans", "Arial", sans-serif;
  font-size: 36px;
  line-height: 42px;
}

.hero-slider {
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}

.slider-controls {
  position: relative;
  display: flex;
  margin-bottom: 124px;
}

.slider-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background: url("../images/icons/arrow-slider.svg") no-repeat 50% rgba(41, 52, 73, 0.6);
  border-radius: 50%;
}

.slider-btn:hover {
  opacity: 0.7;
}

.slider-btn:active {
  opacity: 0.5;
}

.slider-btn-prev {
  left: -32px;
}

.slider-btn-next {
  right: 11px;
  transform: rotate(180deg);
}

.slider-link {
  width: 195px;
  padding: 13px 0 14px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: center;
  background-color: #ee3643;
  border-radius: 2px;
}

.slider-link:hover {
  background-color: #ca2c37;
}

.slider-link:active {
  background-color: #ba2732;
}

.pagination-list {
  display: flex;
  align-items: center;
  gap: 4px 8px;
  flex-wrap: wrap;
  max-width: 80px;
  margin: 0 auto;
}

.pagination-btn {
  width: 8px;
  height: 8px;
  background-color: #ffd180;
  border-radius: 50%;
}

.pagination-btn:hover {
  opacity: 0.5;
}

.pagination-btn:active {
  opacity: 0.3;
}

.pagination-btn-current {
  background-color: #ffffff;
}

.banners-services-item-discount {
  background: url("../images/icons/discount-icon.svg") no-repeat 245px 50% #8ed78f;
}

.banners-services-item-delivery {
  background: url("../images/icons/delivery-icon.svg") no-repeat 245px 50% #ffbf47
}


/* Каталог */
.catalog {
  width: 1170px;
  margin: 0 auto 53px;
}

.catalog-title {
  margin-bottom: 26px;
  font-family: "Fira sans", "Arial", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #293449;
}

.catalog-container {
  display: flex;
}
