@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}


/* Паттерны */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 0;
  font: inherit;
  border: none;
  cursor: pointer;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  display: block;
  color: inherit;
  text-decoration: none;
  outline: none;
}

.title,
.paragraph {
  margin: 0;
}

.field {
  display: block;
  padding: 0;
  font: inherit;
  border: none;
  outline: none;
}


/* Хедер */
.info-header {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding: 14px 0 13px;
}

.page-title {
  max-width: 521px;
  margin-right: 180px;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
  color: #ee3643;
}

.info-header-address {
  max-width: 280px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
}

.info-phone-header-link {
  position: relative;
  margin-left: auto;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #293449;
}

.info-phone-header-link:hover {
  color: rgba(41, 52, 73, 0.5);
}

.info-phone-header-link:focus {
  outline: 1px solid #293449;
}

.info-phone-header-link:active {
  color: rgba(41, 52, 73, 0.3);
}

.info-phone-header-link::before {
  position: absolute;
  left: -24px;
  top: 2px;
  width: 16px;
  height: 16px;
  background: url("../images/icons/header-phone-icon.svg");
  content: "";
}

.middle-header-bg {
  background-color: #293449;
}

.middle-header-content {
  position: relative;
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.page-logo {
  max-height: 45px;
}

.page-logo:hover {
  opacity: 0.7;
}

.page-logo:focus {
  outline: 2px solid #ee3643;
  outline-offset: 4px;
}

.page-logo:active {
  opacity: 0.5;
}

.header-form {
  position: relative;
}

.header-field {
  width: 717px;
  height: 100%;
  padding: 10px 53px 11px 53px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: url("../images/icons/search-icon.svg") no-repeat 21px 50% transparent;
  cursor: pointer;
}

.header-field::placeholder {
  color: #ffffff;
}

.header-field:hover {
  outline: 1px solid #63a63e;
  border-radius: 2px;
}

.header-field:focus {
  outline: 1px solid #ffbf47;
  border-radius: 2px;
}

.header-field:invalid {
  outline: 1px solid #ee3643;
  border-radius: 2px;
}

.header-field:invalid:hover {
  outline: 2px solid #ee3643;
  border-radius: 2px;
}

.header-field:disabled {
  background-color: #f1f5f7;
}

.header-field:disabled::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.close-field-btn {
  position: absolute;
  display: none;
  bottom: 17px;
  right: 21px;
  width: 12px;
  height: 12px;
  background-color: transparent;
}

.close-field-btn::after,
.close-field-btn::before {
  position: absolute;
  left: 0;
  top: 5px;
  width: 12px;
  height: 2px;
  background-color: #32425c;
  content: "";
}

.close-field-btn::after {
  transform: rotate(45deg);
}

.close-field-btn::before {
  transform: rotate(-45deg);
}

.close-field-btn:hover {
  opacity: 0.5;
}

.close-field-btn:focus {
  outline: 1px solid #32425c;
}

.close-field-btn:active {
  opacity: 0.3;
}

.header-field:focus {
  color: #293449;
  background-color: #f1f5f7;
}

.header-field:focus::placeholder {
  color: #c5c5c5;
}

.header-field:focus + .close-field-btn {
  display: block;
}

.login-btn {
  width: 80px;
  margin-left: auto;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: right;
  color: #f1f5f7;
  background: url("../images/icons/login-icon.svg") no-repeat 0 50% transparent;
}

.login-btn:hover {
  opacity: 0.5;
}

.login-btn:focus {
  outline: 2px solid #f1f5f7;
  outline-offset: -2px;
}

.login-btn:active {
  opacity: 0.3;
}

/* Поповер логина */
.login-popover-container {
  position: absolute;
  top: 12px;
  right: 0;
  z-index: 1;
  width: 360px;
  padding: 22px 29px 35px 31px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.login-popover-title {
  max-width: 257px;
  margin-bottom: 43px;
  font-size: 24px;
  text-transform: uppercase;
}

.close-login-popover-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  outline: 2px solid #c4c4c4;
  outline-offset: -2px;
  border-radius: 50%;
}

.close-login-popover-btn::after,
.close-login-popover-btn::before {
  position: absolute;
  top: 9px;
  left: 6px;
  width: 9px;
  height: 2px;
  background-color: #c4c4c4;
  content: "";
}

.close-login-popover-btn::after {
  transform: rotate(45deg);
}

.close-login-popover-btn::before {
  transform: rotate(-45deg);
}

.close-login-popover-btn:hover {
  opacity: 0.5;
}

.close-login-popover-btn:focus {
  outline: 2px solid #000000;
}

.close-login-popover-btn:focus::after,
.close-login-popover-btn:focus::before {
  background-color: #000000;
}

.close-login-popover-btn:active {
  opacity: 0.3;
}

.popover-field {
  width: 100%;
  padding: 8px 9px 12px 14px;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
}

.popover-field:last-of-type {
  margin-bottom: 12px;
}

.popover-field::placeholder {
  color: #c5c5c5;
}

.popover-field:hover {
  border: 1px solid #63a63e;
}

.popover-field:focus {
  border: 1px solid #ffbf47;
}

.popover-field:invalid {
  border: 1px solid #ee3643;
}

.popover-field:invalid:hover {
  border: none;
  outline: 2px solid #ee3643;
}

.popover-field:disabled {
  background-color: #f1f5f7;
}

.profile-popover-wrapper {
  display: flex;
}
